/* .topbar-background {
  background: url(https://content.learntoday.info/CDA3315c_Summer_15/site/Media/Inisope_logo_01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */